@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root{
    --cor1: #030a1d;
    --cor2: #fb6d94;
    --cor3: #EDEDED;

    --font-padrao: 'Poppins', Arial, Helvetica, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-padrao);
}

body{
    background-color: var(--cor1);
    color: var(--cor3);
}

.cabeçalho{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    background: transparent;
    display: flex;
    justify-content: space-between; /*Espaçamento entre os itens*/
    align-items: center;
    z-index: 100;
}

.navegador a{
    font-size: 18px;
    color: var(--cor3);
    text-decoration: none;
    font-weight: 500px;
    margin-left: 35px;
    padding: 12px;
    transition: .3s;
}

.navegador a:hover{
    color: var(--cor2);
}

.logotipo{
    border-radius: 100%;
    width: 70px;
}

.eu{
    border-radius: 50px;
    max-width: 300px;
    align-items: center;
    margin: 30px;
}

.home{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.conteudo_home{
    max-width: 600px;
    max-height: 600px;
}

.conteudo_home h1{
    font-size: 50px;
    font-weight: 700px;
    line-height: 1.2em;
}

.conteudo_home h3{
    font-size: 30px;
    font-weight: 600px;
    color: var(--cor2);
    line-height: 1.3em;
}

.conteudo_home p{
    font-size: 15px;
    text-align: justify;
    margin: 20px 0 40px;
}

.img_certificado {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.conteudo_home .box_botao{
    display: flex;
    justify-content: space-between; /*Espaçamento entre os itens*/
    width: 340px;
    height: 50px;
}

.box_botao a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background-color: var(--cor2);
    border: 2px solid var(--cor2);
    border-radius: 10px;
    font-size: 20px;
    color: var(--cor1);
    text-decoration: none;
    font-weight: 600px;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;  /*Forma como a transição vai passar*/
    transition: .5s;
}

.box_botao a{
    background-color: transparent;
    color: var(--cor2);
}

.box_botao a:hover{
    color: var(--cor1);
}

.box_botao a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--cor2);
    z-index: -1;
    transition: .5s;
}

.box_botao a:hover::before{
    width: 100%;
}

.links_contato{
    display: flex;
    justify-content: space-between; /*Espaçamento entre os itens*/
    position: absolute;
    bottom: 40px;
    width: 200px;
}

.links_contato a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 2px solid var(--cor2);
    border-radius: 10px;
    font-size: 20px;
    color: var(--cor2);
    text-decoration: none;
    z-index: 1;
    transition: .5s;
    overflow: hidden; /*Forma como a transição vai passar*/
}

.links_contato a:hover{
    color: var(--cor1);
}
.links_contato a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--cor2);
    z-index: -1;
    transition: .5s;
}

.links_contato a:hover::before{
    width: 100%;
}

@media screen and (max-width: 760px) {

body {
    padding-top: 70px;
    }

.cabeçalho {
    padding: 10px 5px;
}

.navegador {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    margin-right: 10px;
}

.navegador a {
    font-size: 15px;
    margin-left: 15px;
}

.logotipo {
    width: 40px;
}

.eu {
    display: none; /*faz com que em telas menores a imagem não apareça*/
}

.conteudo_home h1 {
    font-size: 30px;
}

.conteudo_home h3 {
    font-size: 20px;
}

.conteudo_home p {
    font-size: 15px;
}

.conteudo_home .box_botao {
    width: 300px;
}

.box_botao a {
    width: 120px;
    font-size: 15px;
}

.links_contato {
    bottom: 30px;
    width: 160px;
}

.links_contato a {
    width: 30px;
    height: 30px;
    font-size: 15px;
}
}